@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent-light: #ffc2d1;
    --gray: #ebebeb;
    --code-block-background: #272e38;
    --link-blue: #9381ff;
}

#why-ocelist::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: #293241;
    z-index: -1;
}

#readme {
    border: 2px solid rgb(188, 188, 188);
    border-radius: 7px;
    padding: 24px;
}

#readme h1,
#readme h2,
#readme h3,
#readme h4,
#readme h5,
#readme h6 {
    font-family: 'Roboto', 'Poppins', 'sans serif';
    font-weight: bold;
    margin-bottom: 4px;
}

#readme h1 {
    font-size: 32px;
}
#readme h2 {
    font-size: 28px;
}
#readme h3 {
    font-size: 24px;
}
#readme h4 {
    font-size: 20px;
}
#readme h5 {
    font-size: 18px;
}
#readme h6 {
    font-size: 16px;
}

#readme p {
    line-height: 2;
    font-size: 14px;
    font-family: 'Poppins', 'Roboto', 'sans serif';
}

#readme a {
    color: var(--link-blue);
}

#readme blockquote {
    margin: 16px 0;
    border-left: 3px solid var(--accent-light);
    height: fit-content;
    display: flex;
    padding: 8px 16px;
    background-color: var(--gray);
    border-radius: 5px;
}

#readme blockquote p {
    margin: 0;
}

#readme code {
    color: white;
    padding: 4px;
    background-color: var(--code-block-background);
    border-radius: 2px;
    font-size: 14px;
    overflow: scroll;
}

#readme pre {
    margin: 16px 0;
    font-size: 14px;
    width: 100%;
}

#readme pre code {
    padding: 12px;
    display: block;
    width: 100%;
}

#readme ul,
#readme ol {
    padding-left: 12px;
    margin-bottom: 16px;
}

#readme ul {
    list-style-type: disc;
}

#readme ol {
    list-style: decimal;
}

#readme .contains-task-list {
    list-style-type: none;
    padding: 0;
}
